

main{
    background: rgba(245, 244, 244, 0.24);
}
/* productos */

section{
    
    background: rgba(0, 74, 143, 0.418);
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
}
/* #caja-datos{
    margin-left:10px ;
} */
.pd{
    color: rgb(0, 0, 0);
}

figure{
    background: rgb(255, 255, 255);
    height: 450px;
    border:1px rgb(27, 34, 34)     solid;
    border-radius: 6px;
    margin:1%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;
    transition: all 500ms ease-in-out;
}
/*figure:hover{
    transform:scale(1.1,1.1);
  
} */
figcaption {
    text-align: center;
    width: auto;
    /* background: red; */
    height: 50px;
    margin-bottom: 40px;
    
}

figure h1{
    margin: 5px;
    text-align: center;   
}

.imgsc{
    margin-left: auto;
    margin-right: auto;
    width:80%;
    height:200px;
    padding: 10px;
    display: block;
    transition: all 500ms ease-in-out;
}
.imgsc:hover{
    transform:scale(1.1 ,1.1);
   
}
#titulo{
    font-size: 40px;
    margin-top: 40px;
    text-align: center;
    text-shadow: 0 0 5px rgb(50, 34, 13);
    animation: parpadear 3s infinite backwards;
    transition: all 500ms ;
}
@keyframes parpadear {
    to {
        color: black;
        text-shadow: 0 0 5px rgb(50, 34, 13), 0 0 15px rgb(50, 34, 13), 0 0 30px rgb(50, 34, 13);
   
    }
}

.bt{
    background-color: rgb(12, 8, 8);
    border: solid white;
    color: white;
    width: 80px;
    height: 30px;
    border-radius: 3px;
    transition: all 500ms ease-in-out;
}

.bt:hover{
    transform:scale(1.1 ,1.1);
    

}